<!DOCTYPE html>
<html>
<head>
    <title>Curated List of Languages</title>
    <meta charSet="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Curated List of Languages</h1>
        <p>Useful Links:</p>
        <ul>
            <li><a href="complete.html">Complete analysis</a></li>
            <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1476781">Tracking bug</a> and <a href="">thread on dev-l10n</a></li>
        </ul>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Firefox Locale</th>
                    <th>Language name</th>
                </tr>
            </thead>
            <tbody>
                %TABLEBODY%
            </tbody>
        </table>
    </div>
</body>
</html>
